# --- Python & Environment ---
__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/
.conda/
.ipynb_checkpoints/

# --- IDE Settings ---
.vscode/
.idea/
*.swp

# --- Project Specific Outputs ---
results_ft_A/
results_ft_B/
eval_results/

data/
.cache/

media/
logs/

# --- System ---
.DS_Store
Thumbs.db